html, body{
  width: 100%;
  height: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  padding: 0px;
  margin: 0px;
}

html{
  font-size: clamp(0.65vw, 0.7534rem + 0.2472vw, 1.2rem);;
}

body{
  font-family: arial, sans-serif;
  background: linear-gradient(45deg, #65d4d8, #1774e6);
  background-attachment: fixed;
  background-size: cover;
}

.page{
  overflow: clip;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.container{
  display: grid;
  grid-template-columns: 0.15fr 0.85fr;
  grid-template-areas: "nav main";
}

nav{
  position: relative;
  margin-left: calc(6px + 1vw);
  margin-top: calc(6px + 1vw);
  margin-bottom: calc(6px + 1vw);
  background-color: #ffffff;
  border-radius: 15px;
  padding: 15px;
}

nav ul{
  position: sticky;
  top: 15px;
  font-size: 1.1rem;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

nav a{
  padding: 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

nav a:link{
  color: #000000;
}

nav a:visited{
  color: #000000;
}

nav a:hover{
  background-color: #f1f1f1;
  outline: 1px solid #dddddd;
}

nav a:active{
  color: #000000;
}

hr{
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  height: 0px;
  padding: 0px;
  background-color: #dddddd;
  border-top: 1px solid #dddddd;
}

main{
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  margin: calc(6px + 1vw);
  min-height: min(calc(100vh - 52px - 2vw - 20vh), calc(100vh - 52px - 2vw - 25vmin));
  min-height: min(calc(100dvh - 52px - 2vw - 20vh), calc(100dvh - 52px - 2vw - 25vmin));
  overflow: hidden;
  text-overflow: clip;
}

footer{
  background-image: url("sand.jpg");
  background-position: center;
  background-repeat: repeat;
  height: 25vmin;
  overflow: hidden;
  min-height: 20vh;
}

.hero{
  border-radius: 50%;
  display: block;
  color: #f1f1f1;
  background-color: #f1f1f1;
  height: auto;
  width: calc(((90% - 40px) / 3) * 0.5);
}

.image{
  height: auto;
  width: 100%;
  color: #f1f1f1;
  background-color: #f1f1f1;
  object-fit: cover;
  max-width: 100%;  
  min-width: 100%;
}

.thumbnail{
  width: 100%;
}

.texting{
  color: #000000;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-decoration: none;
  margin: 0px auto;
  margin-top: 5px;
  line-height: 1.15;
}

.texting:hover{
  color: #808080;
}

.texting:active{
  color: #808080;
}

.gallery{
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, calc((90% - 40px) / 3));
  grid-gap: 20px;
  justify-content: center;
  padding: 0px;
  margin: 0px auto;
}

.date{
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

video{
  display: block;
  margin: 0px auto;
  width: 80%;
  height: auto;
  max-height: calc(100vh - (46px + 1vw));
  max-height: calc(100dvh - (46px + 1vw));
  background-color: #000000;
}

.title{
  margin: 0px auto;
  overflow: hidden;
  max-width: 80%;
  padding: 0px;
  margin-top: 15px;
}

.name{
  margin: 0px;
  padding: 0px;
}

header{
  display: flex;
  align-items: center;
}

.banner{
  display: block;
  margin: 0px auto;
  max-width: 100%;
}

.information{
  margin: 0px;
  margin-left: 20px;
}

.channel .information{
  background-color: #ff0000;
  padding: 7.5px;
  border-radius: 7.5px;
  margin-right: 15px;
  margin-left: 15px;
}

.information h5{
  margin: auto;
  padding: 0px;
  color: #ffffff;
}

#handle{
  margin: 0px auto;
  margin-top: 15px;
  padding: 0px;
  color: #808080;
}

#splitter{
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.channel{
  margin: 0px auto;
  display: flex;
  max-width: 80%;
  padding: 0px;
  align-items: center;
  flex-direction: row;
}

.small{
  display: block;
  height: calc(96.5px + 0.5vw);
  width: auto;
  border-radius: 50%;
  margin: 0px;
  padding: 0px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.description{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
  background-color: #f1f1f1;
  border-radius: 10px;
  overflow: hidden;
}

.description .details{
  padding: 15px;
  margin: 0px;
}

.lines{
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.read{
  margin: 0px;
  padding: 0px;
  margin-top: 15px;
  display: grid;
  grid-gap: 1.5px;
}

.icon{
  width: 0.74rem;
  height: 0.74rem;
}

@media only screen and (max-width: 1149px){
  .gallery{
    grid-template-columns: repeat(auto-fit, calc((90% - 20px) / 2));
  }

  .hero{
    width: calc(((90% - 20px) / 2) * 0.4);
  }
}

@media only screen and (max-width: 948px){
  html{
    font-size: clamp(0.9rem, 0.8404rem + 0.2694vw, 1rem);
  }

  .container{
    grid-template-columns: 1fr;
    grid-template-areas: "nav" "main";
  }

  #splitter{
    display: none;
  }

  nav{
    background-color: #ffffff;
    z-index: 2;
    margin: 15px 15px 0px 15px;
    padding: 2.5px;
  }
  
  main{
    margin: 15px;
    min-height: min(calc(100vh - 70px - 20vh), calc(100vh - 70px - 25vmin));
    min-height: min(calc(100dvh - 70px - 20vh), calc(100dvh - 70px - 25vmin));
  }

  .small{
    height: clamp(75px, 21vw, 100px);
  }
  
  .hero{
    width: max(125px, calc(((90% - 20px) / 2) * 0.4));
  }

  nav ul{
    list-style-type: none;
    text-align: center;
    margin: 0px auto;
    padding: 5px;
  }

  nav a{
    margin: 0px;
  }

  nav li{
    display: inline-block;
  }  

  video{
    width: 100%;
    margin-top: 0px;
    max-height: calc(100vh - 125px);
    max-height: calc(100dvh - 125px);
    min-height: 50px;
  }

  .title{
    max-width: 100%;
  }

  .channel{
    max-width: 100%;
  }

  .description{
    width: 100%;
  }
}

@media only screen and (max-width: 611px){
  .gallery{
    grid-template-columns: 90%;
  }

  .hero{
    width: clamp(105px, calc(90% * 0.4), 125px);
  }
}

@media only screen and (max-width: 481px){
  main{
    min-height: min(calc(100vh - 70px - 11.25vh), calc(100vh - 70px - 14.0625vmin));
    min-height: min(calc(100dvh - 70px - 11.25dvh), calc(100dvh - 70px - 14.0625vmin));
  }

  footer{
    height: 14.0625vmin;
    min-height: 11.25vh;
    min-height: 11.25dvh;
  }

  .fullmain{
    min-height: min(calc(100vh - 70px - 11.25vh), calc(100vh - 70px - 14.0625vmin));
    min-height: min(calc(100dvh - 70px - 11.25vh), calc(100dvh - 70px - 14.0625vmin));
  }

  .fullfooter{
    min-height: 11.25vh;
  }

  nav{
    display: none;
  }

  nav ul{
    padding: 0px;
  }

  .videobehind{
    min-height: min(calc(100vh - 11.25vh), calc(100vh - 14.0625vmin));
    min-height: min(calc(100dvh - 11.25dvh), calc(100dvh - 14.0625vmin));
    background: linear-gradient(180deg, #ffffff, transparent 100%);
    margin: 0px;
    border-radius: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
  }

  .title{
    margin-left: 15px;
    max-width: calc(100% - 30px);
  }

  .small{
    margin-left: 15px;
  }

  .description{
    max-width: calc(100% - 30px);
    background: linear-gradient(180deg, #ffffff, transparent 100%);
    border-radius: 10px 10px 0px 0px;
    flex: 1;
  }

  video{
    max-height: 100vh;
    max-height: 100dvh;
    min-height: initial;
  }

  .channel .information{
    background-color: #050505;
  }

  .channel{
    margin: 0px;
  }
}

@media only screen and (max-width: 380px){
  html{
    font-size: clamp(0.6rem, -0.6616rem + 6.5753vw, 0.9rem);
  }
}

@media only screen and (max-width: 307px){
  main{
    margin: 0px;
    padding: 4vw;
    border-radius: 0px;
    background: linear-gradient(90deg, rgba(255 255 255 / 75%), transparent 100%);
    height: 100%;
  }

  .fullmain{
    min-height: calc(100vh - 8vw);
    min-height: calc(100dvh - 8vw);
  }

  .videobehind{
    min-height: 100vh;
    min-height: 100dvh;
  }

  .thumbnail{
    max-width: 100%;
    overflow: hidden;
  }

  .hero{
    width: 75px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4vw;
  }

  footer{
    display: none;
  }

  header{
    display: block;
  }

  #handle{
    display: none;
  }

  .information #handle{
    display: none;
  }

  .channel .information{
    display: none;
  }

  header .information{
    margin: 0px;
  }

  .information .name{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin: 0px;
  }

  html{
    font-size: calc(0.5rem + 2vw);
  }

  hr{
    display: none;
  }

  .channel{
    align-items: center;
    justify-content: center;
  }

  .small{
    width: min(60px, calc(100% - 8vw));
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4vw;
    margin-top: 0px;
  }

  .title{
    max-width: 100%;
    margin: 0px;
    margin: 4vw;
  }

  .title .name{
    text-align: center;
  }

  .description{
    max-width: 100%;
    border-radius: 0px;
  }

  .description .details{
    padding: 4vw;
  }

  .read{
    margin-top: 4vw;
  }

  video{
    max-height: 100vh;
    max-height: 100dvh;
  }

  .gallery{
    display: block;
    max-width: 100%;
  }

  .image{
    width: 100%;
    margin-top: 4vw;
  }

  .texting{
    width: 100%;
    max-width: 100%;
    margin-top: 1vw;
  }
}

@media (prefers-color-scheme: dark){
  main{
    background-color: #212121;
    color: #ebebeb;
  }

  nav{
    background-color: #212121;
    color: #ebebeb;
  }
  
  nav a:link{
    color: #ebebeb;
  } 

  nav a:visited{
    color: #ebebeb;
  }

  nav a:hover{
    background-color: #292929;
    outline: 1px solid #353535;
  }

  .texting{
    color: #ebebeb;
  }

  .texting:hover{
    color: #999999;
  }

  .texting:active{
    color: #999999;
  }
  
  .description{
    background-color: #292929;
  }

  hr{
    background-color: #353535;
    border-top: 1px solid #353535;
  }

  .icon{
    filter: invert(1) brightness(0.92);
  }

  body{
    background: linear-gradient(45deg, #0c3d74, #000042);
    background-attachment: fixed;
    background-size: cover;
  }

  footer{
    filter: brightness(0.6);
  }

  #handle{
    color: #999999;
  }

  .image{
    color: #292929;
    background-color: #292929;
  }
  
  .hero{
    color: #292929;
    background-color: #292929;
  }

  #fade{
    background: linear-gradient(180deg, rgba(0 0 0 / 50%), transparent 100%);
  }

  #fadetwo{
    background: linear-gradient(180deg, rgba(0 0 0 / 50%), transparent 100%);
  }
} 

@media only screen and (max-width: 481px) and (prefers-color-scheme: dark){
  .videobehind{
    background: linear-gradient(180deg, #000000, transparent 100%);
  }

  .description{
    background: linear-gradient(180deg, #212121, rgba(5 5 5 / 50%), transparent 100%);
  }

  .information h5{
    color: #ebebeb;
  }

  #fadetwo{
    background: transparent 100%;
  }
}

@media only screen and (max-width: 307px) and (prefers-color-scheme: dark){
  main{
    background: linear-gradient(90deg, rgba(5 5 5 / 75%), transparent 100%);
  }
}

@media only screen and (min-width: 1639px){
  .banner{
    max-width: 90%;
  }

  .gallery{
    grid-template-columns: repeat(auto-fit, calc((90% - 60px) / 4));
  }

  .hero{
    width: calc(((90% - 60px) / 4) * 0.6);
  }

  nav a{
    padding: 12.5px;
  }
}

@media only screen and (min-width: 2260px){
  .gallery{
    grid-template-columns: repeat(auto-fit, calc((90% - 80px) / 5));
  }

  .hero{
    width: calc(((90% - 80px) / 5) * 0.6);
  }

  nav a{
    padding: 15px;
  }
}

@media only screen and (min-width: 2891px){
  .texting{
    margin-top: 0.172950536vw;
  }

  .gallery{
    grid-template-columns: repeat(auto-fit, calc((90% - 3.459010725vw) / 6));
    grid-gap: 0.691802145vw;
  }

  main{
    margin: 1.207194742vw;
    padding: 0.691802145vw;
    border-radius: 0.518851609vw;
    min-height: min(calc(100vh - 3.797993774vw - 20vh), calc(100vh - 3.797993774vw - 25vmin));
    min-height: min(calc(100dvh - 3.797993774vw - 20vh), calc(100dvh - 3.797993774vw - 25vmin));
  }

  .hero{
    width: calc(((90% - 3.459010725vw) / 6) * 0.6);
  }

  nav{
    border-radius: 0.518851609vw;
    padding: 0.518851609vw;
    margin: 1.207194742vw  0px 1.207194742vw 1.207194742vw;
  }

  nav ul{
    position: sticky;
    top: 0.518851609vw;
  }

  nav a{
    padding: 0.605326877vw;
  }

  #splitter{
    margin-top: 0.518851609vw;
    margin-bottom: 0.518851609vw;
    margin-left: 0.172950536vw;
    margin-right: 0.172950536vw;
  }

  hr{
    margin-top: 0.691802145vw;
    margin-bottom: 0.691802145vw;
  }

  .information{
    margin-left: 0.691802145vw;
    margin-right: 0.691802145vw;
  }

  .information #handle{
    margin-top: 0.518851609vw;
  }

  .description{
    border-radius: 0.345901072vw;
  }

  .description .details{
    padding: 0.518851609vw;
  }

  .small{
    margin-top: 0.518851609vw;
    margin-bottom: 0.518851609vw;
    height: 3.837772397vw;
  }

  .channel .information{
    margin-left: 0.518851609vw;
    margin-right: 0.518851609vw;
    padding: 0.259425804vw;
    border-radius: 0.259425804vw;
  }

  .title{
    margin-top: 0.518851609vw;
  }

  video{
    max-height: calc(100vh - 2.590799032vw);
    max-height: calc(100dvh - 2.590799032vw);
  }

  .read{
    margin-top: 0.518851609vw;
  }
}