html, body{
  height: 100%;
  min-height: 100vh;
  min-height: 100dvh;
}

html, body, .page, nav ul, hr, .gallery, .date, .title, .name, .information h5, #handle, .channel, .small, .lines, .read{
  padding: 0px;
}

html, body, .page, nav ul, .date, .name, .description .details, .lines{
  margin: 0px;
}

.gallery, video, .banner, .channel, .description{
  margin: 0px auto;
}

html, body, .page, .image, .thumbnail, .texting{
  width: 100%;
}

video, .hero, .image, .description{
  height: auto;
}

html{
  font-size: clamp(0.65vw, calc(0.9023rem + 0.1648vw), 1.2rem);
}

body{
  font-family: arial, sans-serif;
  background: linear-gradient(45deg, #65d4d8, #1774e6);
  background-attachment: fixed;
  background-size: cover;
}

.page{
  overflow: clip;
}

.container{
  display: grid;
  grid-template-columns: 0.15fr 0.85fr;
  grid-template-areas: "nav main";
}

nav{
  position: relative;
  margin: calc(6px + 1vw) 0px calc(6px + 1vw) calc(6px + 1vw);
  background-color: #ffffff;
  border-radius: 15px;
  padding: 15px;
}

nav ul{
  position: sticky;
  top: 15px;
  font-size: 1.1rem;
  list-style-type: none;
}

nav a{
  padding: 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

nav a:link, nav a:visited, nav a:active, .texting{
  color: #000000;
}

nav a:hover{
  outline: 1px solid #dddddd;
}

hr{
  margin: 20px 0px 20px 0px;
  border: none;
  height: 0px;
  background-color: #dddddd;
  border-top: 1px solid #dddddd;
}

main{
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  margin: calc(6px + 1vw);
  min-height: min(calc(100vh - 52px - 2vw - 20vh), calc(100vh - 52px - 2vw - 25vmin));
  min-height: min(calc(100dvh - 52px - 2vw - 20vh), calc(100dvh - 52px - 2vw - 25vmin));
  overflow: hidden;
  text-overflow: clip;
}

footer{
  background-image: url("sand.jpg");
  background-position: center;
  background-repeat: repeat;
  height: 25vmin;
  overflow: hidden;
  min-height: 20vh;
}

.hero{
  border-radius: 50%;
  display: block;
  color: #f1f1f1;
  width: calc(((90% - 40px) / 3) * 0.5);
}

.image{
  color: #f1f1f1;
  object-fit: cover;
  max-width: 100%;  
  min-width: 100%;
}

.image, .hero, .description, nav a:hover{
  background-color: #f1f1f1;
}

.texting{
  overflow: hidden;
  white-space: nowrap;
  text-decoration: none;
  margin: 5px auto 0px auto;
  line-height: 1.15;
}

.texting:hover, .texting:active{
  color: #808080;
}

.gallery{
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, calc((90% - 40px) / 3));
  grid-gap: 20px;
  justify-content: center;
}

.date{
  font-weight: bold;
}

video{
  display: block;
  width: 80%;
  max-height: calc(100vh - (46px + 1vw));
  max-height: calc(100dvh - (46px + 1vw));
  background-color: #000000;
}

.title{
  overflow: hidden;
  max-width: 80%;
  margin: 15px auto 0px auto;
}

header{
  display: flex;
  align-items: center;
}

.banner{
  display: block;
  max-width: 100%;
}

.information{
  margin: 0px 0px 0px 20px;
}

.channel .information{
  background-color: #ff0000;
  padding: 7.5px;
  border-radius: 7.5px;
  margin: 0px 15px 0px 15px;
}

.information h5{
  margin: auto;
  color: #ffffff;
}

#handle{
  color: #808080;
  margin: 15px auto 0px auto;
}

#splitter{
  margin: 15px 5px 15px 5px;
}

.channel{
  display: flex;
  max-width: 80%;
  align-items: center;
  flex-direction: row;
}

.small{
  display: block;
  height: calc(96.5px + 0.5vw);
  width: auto;
  border-radius: 50%;
  margin: 15px 0px 15px 0px;
}

.description{
  display: block;
  width: 80%;
  border-radius: 10px;
}

.description .details{
  padding: 15px;
}

.lines, .description{
  overflow: hidden;
}

.read{
  margin: 15px 0px 0px 0px;
  display: grid;
  grid-gap: 1.5px;
}

.icon{
  width: 0.74rem;
  height: 0.74rem;
}

@media only screen and (max-width: 1149px){
  .gallery{
    grid-template-columns: repeat(auto-fit, calc((90% - 20px) / 2));
  }

  .hero{
    width: calc(((90% - 20px) / 2) * 0.4);
  }
}

@media only screen and (max-width: 948px){
  html{
    font-size: 1rem;
  }

  .container{
    grid-template-columns: 1fr;
    grid-template-areas: "nav" "main";
  }

  #splitter{
    display: none;
  }

  nav{
    background-color: #ffffff;
    z-index: 2;
    margin: 15px 15px 0px 15px;
    padding: 2.5px;
  }
  
  main{
    margin: 15px;
    min-height: min(calc(100vh - 70px - 20vh), calc(100vh - 70px - 25vmin));
    min-height: min(calc(100dvh - 70px - 20vh), calc(100dvh - 70px - 25vmin));
  }

  .small{
    height: clamp(75px, 21vw, 100px);
  }
  
  .hero{
    width: clamp(125px, calc(((90% - 20px) / 2) * 0.4), 150px);
  }

  nav ul{
    list-style-type: none;
    text-align: center;
    margin: 0px auto;
    padding: 5px;
  }

  nav a{
    margin: 0px;
  }

  nav li{
    display: inline-block;
  }  

  video{
    margin-top: 0px;
    max-height: calc(100vh - 125px);
    max-height: calc(100dvh - 125px);
    min-height: 50px;
  }

  .title, .channel{
    max-width: 100%;
  }

  .description, video{
    width: 100%;
  }
}

@media only screen and (max-width: 611px){
  .gallery{
    grid-template-columns: 90%;
  }
}

@media only screen and (max-width: 481px){
  main{
    min-height: min(calc(100vh - 70px - 11.25vh), calc(100vh - 70px - 14.0625vmin));
    min-height: min(calc(100dvh - 70px - 11.25dvh), calc(100dvh - 70px - 14.0625vmin));
  }

  footer{
    height: 14.0625vmin;
    min-height: 11.25vh;
    min-height: 11.25dvh;
  }

  .fullmain{
    min-height: min(calc(100vh - 70px - 11.25vh), calc(100vh - 70px - 14.0625vmin));
    min-height: min(calc(100dvh - 70px - 11.25vh), calc(100dvh - 70px - 14.0625vmin));
  }

  .fullfooter{
    min-height: 11.25vh;
  }

  nav{
    display: none;
  }

  nav ul, .videobehind{
    padding: 0px;
  }

  .videobehind{
    min-height: min(calc(100vh - 11.25vh), calc(100vh - 14.0625vmin));
    min-height: min(calc(100dvh - 11.25dvh), calc(100dvh - 14.0625vmin));
    background: linear-gradient(180deg, #ffffff, transparent 100%);
    border-radius: 0px;
    display: flex;
    flex-direction: column;
  }

  .title{
    max-width: calc(100% - 30px);
  }

  .small, .title{
    margin-left: 15px;
  }

  .description{
    max-width: calc(100% - 30px);
    background: linear-gradient(180deg, #ffffff, transparent 100%);
    border-radius: 10px 10px 0px 0px;
    flex: 1;
  }

  video{
    max-height: 100vh;
    max-height: 100dvh;
    min-height: initial;
  }

  .channel .information{
    background-color: #050505;
  }

  .channel, .videobehind{
    margin: 0px;
  }

  .hero{
    width: clamp(100px, calc(90% * 0.4), 125px)
  }
}

@media only screen and (max-width: 403px){
  main{
    padding: clamp(15px, calc(5.5556vw - 2.3888px), 20px);
  }

  hr{
    margin: clamp(15px, calc(5.5556vw - 2.3888px), 20px) 0px clamp(15px, calc(5.5556vw - 2.3888px), 20px) 0px;
  }

  .information{
    margin-left: clamp(15px, calc(5.5556vw - 2.3888px), 20px);
  }

  .gallery{
    grid-gap: clamp(15px, calc(5.5556vw - 2.3888px), 20px);
  }

  .information .name, .title .name{
    font-size: clamp(1.55rem, calc(8vw - 0.015rem), 2rem);
  }

  .information #handle{
    font-size: clamp(0.775rem, calc(4vw - 0.0075rem), 1rem);
  }

  .texting, .date, .lines, .videobehind .information{
    font-size: clamp(0.9rem, calc(0.5522rem + 1.7778vw), 1rem);
  }

  #handle{
    margin-top: clamp(11.25px, calc(4.1667vw - 1.792px), 15px);
  }
}

@media only screen and (max-width: 313px){
  main{
    border-radius: 0px;
    background: linear-gradient(90deg, rgba(255 255 255 / 75%), transparent 100%);
    height: 100%;
  }

  .fullmain{
    min-height: calc(100vh - 8vw);
    min-height: calc(100dvh - 8vw);
  }

  .videobehind{
    min-height: 100vh;
    min-height: 100dvh;
  }

  .thumbnail, .hero, .title, .description, .gallery, .texting{
    max-width: 100%;
  }

  .thumbnail{
    overflow: hidden;
  }

  .hero{
    width: 75px;
    margin: 0px auto 4vw auto;
  }

  footer, #handle, .information #handle, .channel .information{
    display: none;
  }

  header{
    display: block;
  }

  header .information, main{
    margin: 0px;
  }

  .information .name{
    display: block;
    text-align: center;
    margin: 0px autio;
  }

  html{
    font-size: clamp(0.5rem, calc(0.3rem + 6.4vw), 1rem);
  }

  .information .name, .title .name{
    font-size: 1.55rem;
  }

  .texting, .date, .lines, .videobehind .information{
    font-size: 1rem;
  }

  hr{
    display: none;
  }

  .channel{
    align-items: center;
    justify-content: center;
  }

  .small{
    width: min(60px, calc(100% - 8vw));
    height: auto;
    margin: 0px auto 4vw auto;
  }

  .title{
    margin: 4vw;
  }

  .title .name{
    text-align: center;
  }

  .description{
    border-radius: 0px;
  }

  .description .details, main{
    padding: 4vw;
  }

  .read, .image{
    margin-top: 4vw;
  }

  video{
    max-height: 100vh;
    max-height: 100dvh;
  }

  .gallery{
    display: block;
  }

  .image, .texting{
    width: 100%;
  }

  .texting{
    margin-top: 1vw;
  }
}

@media (prefers-color-scheme: dark){
  main, nav{
    background-color: #212121;
  }

  main, nav, nav a:link, nav a:visited, .texting{
    color: #ebebeb;
  } 

  nav a:hover{
    outline: 1px solid #353535;
  }

  .texting:hover, .texting:active, #handle{
    color: #999999;
  }
  
  .description, .image, .hero, nav a:hover{
    background-color: #292929;
  }

  hr{
    background-color: #353535;
    border-top: 1px solid #353535;
  }

  .image, .hero{
    color: #292929;
  }

  .icon{
    filter: invert(1) brightness(0.92);
  }

  body{
    background: linear-gradient(45deg, #0c3d74, #000042);
    background-attachment: fixed;
    background-size: cover;
  }

  footer{
    filter: brightness(0.6);
  }

  #fade, #fadetwo{
    background: linear-gradient(180deg, rgba(0 0 0 / 50%), transparent 100%);
  }
} 

@media only screen and (max-width: 481px) and (prefers-color-scheme: dark){
  .videobehind{
    background: linear-gradient(180deg, #000000, transparent 100%);
  }

  .description{
    background: linear-gradient(180deg, #212121, rgba(5 5 5 / 50%), transparent 100%);
  }

  .information h5{
    color: #ebebeb;
  }

  #fadetwo{
    background: transparent 100%;
  }
}

@media only screen and (max-width: 313px) and (prefers-color-scheme: dark){
  main{
    background: linear-gradient(90deg, rgba(5 5 5 / 75%), transparent 100%);
  }
}

@media only screen and (min-width: 1639px){
  .banner{
    max-width: 90%;
  }

  .gallery{
    grid-template-columns: repeat(auto-fit, calc((90% - 60px) / 4));
  }

  .hero{
    width: calc(((90% - 60px) / 4) * 0.6);
  }

  nav a{
    padding: 12.5px;
  }
}

@media only screen and (min-width: 2260px){
  .gallery{
    grid-template-columns: repeat(auto-fit, calc((90% - 80px) / 5));
  }

  .hero{
    width: calc(((90% - 80px) / 5) * 0.6);
  }

  nav a{
    padding: 15px;
  }
}

@media only screen and (min-width: 2891px){
  .texting{
    margin-top: 0.172950536vw;
  }

  .gallery{
    grid-template-columns: repeat(auto-fit, calc((90% - 3.459010725vw) / 6));
    grid-gap: 0.691802145vw;
  }

  main{
    margin: 1.207194742vw;
    padding: 0.691802145vw;
    border-radius: 0.518851609vw;
    min-height: min(calc(100vh - 3.797993774vw - 20vh), calc(100vh - 3.797993774vw - 25vmin));
    min-height: min(calc(100dvh - 3.797993774vw - 20vh), calc(100dvh - 3.797993774vw - 25vmin));
  }

  .hero{
    width: calc(((90% - 3.459010725vw) / 6) * 0.6);
  }

  nav{
    border-radius: 0.518851609vw;
    padding: 0.518851609vw;
    margin: 1.207194742vw  0px 1.207194742vw 1.207194742vw;
  }

  nav ul{
    position: sticky;
    top: 0.518851609vw;
  }

  nav a{
    padding: 0.605326877vw;
  }

  #splitter{
    margin: 0.518851609vw 0.172950536vw 0.518851609vw 0.172950536vw;
  }

  hr{
    margin: 0.691802145vw 0px 0.691802145vw 0px;
  }

  .information{
    margin: 0px 0.691802145vw 0px 0.691802145vw;
  }

  .information #handle, .read, .title{
    margin-top: 0.518851609vw;
  }

  .description{
    border-radius: 0.345901072vw;
  }

  .description .details{
    padding: 0.518851609vw;
  }

  .small{
    margin: 0.518851609vw 0px 0.518851609vw 0px;
    height: 3.837772397vw;
  }

  .channel .information{
    margin: 0px 0.518851609vw 0px 0.518851609vw;
    padding: 0.259425804vw;
    border-radius: 0.259425804vw;
  }

  video{
    max-height: calc(100vh - 2.590799032vw);
    max-height: calc(100dvh - 2.590799032vw);
  }
}